#{extends 'main.html' /}
#{set title:'Article' /}

<div class="container">
	<div class="row">
		<div class="span8">
      #{if latestRev}
        #{if article}
          <h1>${article.title} - Revision ${latestRev.revision_number}</h1>
          <p>${latestRev.article_abstract}</p>
			
          ${article.tags.size() ?: 'No'} Tags
          <ul>
            #{list items:article.tags, as:'tag'}
              <li><a href="#">${tag.title}</a></li>						
            #{/list}
          </ul>
          <a href="@{Article.edit(article.id)}">Edit</a>
          #{if previous_revision_number}
           <!-- <a href="@{Article.showRevision(previous_revision_number)}">Show previous Revision</a>-->
          #{/if}
        #{/if}
      #{/if}
		</div>
		<div class="span6">
		
		</div>
	</div>
</div>